 
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");
body {
  margin: 0 auto;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}
#todowrap {
  margin: auto;
  margin: 50px 6% 0;
  width: 100%;
  max-width: 990px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 1px 2px 5px 5px #ccc;
  border-radius: 5px;
}
.form_bg {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 40px;
  background-color: rgb(46, 255, 175);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#todo-input {
  width: 80%;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 8px 15px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
}
#btn-add-todo {
  /* display: inline-table; */
  text-align: center;
  width: 20%;
  line-height: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
}
#todolist {
  padding: 15px;
}

#todo-list {
  padding: 12px 0px;
}

.todo-card {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.message {
  padding-right: 20px;
}

:focus {
  outline: 0;
  color: #fff;
}
.striptxt {
  text-decoration: line-through;
  opacity: 0.7;
}
.nostrpstriptxt {
  text-decoration: none;
}
/* .todo-card > div{ border-bottom: ;} */
.dyndropshadow {
  width: 300px;
  box-shadow: 1px 2px 5px 0px #ccc;
}
.nodyndropshadow {
  width: 460px;
}
.cut:hover {
  color: rgb(255, 0, 119);
  cursor: pointer;
}
.faicon i {
  cursor: pointer;
}
.todo-day {
  color: #2effaf;
}
.Checkbox {
  /* width: 20%;
  height: 20px;*/
  position: relative; 

}
.Checkbox > * {
  position: absolute;
}
.Checkbox-visible {
  border: 1px solid gray;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 3px;
}
.Checkbox > input {
  z-index: 1;
  opacity: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translatex(-62%) translatey(-60%);
          transform: translatex(-62%) translatey(-60%);
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.Checkbox > input:checked + .Checkbox-visible {
  background: #59cb59;
  border-color: #59cb59;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTQnIGhlaWdodD0nMTQnIHZpZXdCb3g9JzAgMCAxNCAxNCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48dGl0bGU+d2hpdGU8L3RpdGxlPjxwYXRoIGQ9J001LjM3OCAxMS4zN0wyIDcuNTlsMS40MzgtMS4yODZMNS4zNzQgOC40N2w1LjE4NS01Ljg0TDEyIDMuOTFsLTYuNjIyIDcuNDYnIGZpbGw9JyNmZmYnLz48L3N2Zz4=);
}
.Checkbox > input:hover + .Checkbox-visible {
  border-color: #cccccc;
}
.Checkbox > input:hover:checked + .Checkbox-visible {
  border-color: #0ca750;
}
.Checkbox > input:focus + .Checkbox-visible {
  border-color: #59cb59;
}
canvas {
  display: block;
  vertical-align: bottom;
}
/* ---- tsparticles container ---- */
#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#login h1 {
  text-align: center;
  color: #fff; font-size: 20px;
}

#login-form {
  background: rgba(255, 255, 255, 0.3);
  padding: 2em;
  border-radius: 10px;
  border: #cccccc solid 2px;
  position: absolute;
  width: 220px;
  top: 10%;
  left: 50%;
  margin-left: -110px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
  padding: 7px;
  margin-bottom: 20px;
  border: 1px #ccc solid;
  border-radius: 5px;
  width: calc(100% - 14px);
  display: block; color: #000;
}

#login-form .but {
  width: 100%;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #000066;
  background: #fe2323;
  color: #fff;
  font-weight: bold;
}
.hidden-delete-icon {
  display: none !important;
}
#todo-input-wrapper{
  width: 100%;
    display: flex;
    justify-content: space-between;
}
.hidden {
  display: none !important;
}
.linktxt, .linklogout {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.linklogout{
  position: relative;
    top: -4px;
    left: 15px;
}
.single-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #717790;
  position: relative;
  width: 100%;
  z-index: 1;
}
.single-item::after {
  content: '';
    position: absolute;
    top: -16px;
    right: -17px;
    bottom: -17px;
    left: -16px;
    margin: -1rem;
    border-radius: 10px;
    overflow: hidden;
    z-index: -1;
    background: #1f2229;
    -webkit-clip-path: inset(2rem 2rem 2rem 2rem round 10px);
    clip-path: inset(2rem 2rem 2rem 2rem round 10px);
    contain: strict;
    -webkit-transition: -webkit-clip-path 0.3s ease 0.1s;
    transition: -webkit-clip-path 0.3s ease 0.1s;
    transition: clip-path 0.3s ease 0.1s;
    transition: clip-path 0.3s ease 0.1s, -webkit-clip-path 0.3s ease 0.1s;border: #cccccc solid 2px;
}
.single-item:hover::after, .single-item:focus::after, .single-item:active::after {
    -webkit-clip-path: inset(0 0 0 0 round 10px);
    clip-path: inset(0 0 0 0 round 10px);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;border: #cccccc solid 2px;
}